<tr id='<%= company.id %>'>
  <td><%= company.name %></td>
  <td><%= link_to 'Show', company, class: 'btn btn-info btn-sm' %>
  <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-warning btn-sm', remote: true %>
  <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: 'btn btn-danger btn-sm' %></td>
</tr>
